<!-- Site footer -->
<footer class="site-footer" style="background-color: #1c1c1c">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          This is a popular, user editable database application for movies.
        </p>
        <p>
          Designed and built by Derrick Nyongesa, data provided by
          <i><a href="https://www.themoviedb.org/" target="_blank">TMDb</a> </i>
        </p>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2022 All Rights Reserved by
          <a href="mailto:email@website.com" target="_blank">Derrick Nyongesa</a
          >.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="e-mail" href="mailto:email@website.com" target="_blank"
              ><i class="fa fa-at" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a
              class="linkedin"
              href="https://www.linkedin.com/in/derrick-nyongesa-b04267158/"
              target="_blank"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              class="github"
              href="https://github.com/Derrick-Nyongesa"
              target="_blank"
              ><i class="fa fa-github"></i
            ></a>
          </li>
          <li>
            <a
              class="link"
              href="https://derick-nyongesa.netlify.app/"
              target="_blank"
              ><i class="fa fa-link"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
