<nav class="navbar navbar-expand-sm navbar-dark bg-dark py-0">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      (click)="collapse = !collapse"
      type="button"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" (click)="collapse = true" [hidden]="collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngFor="let genres of genreslist | slice: 0:17">
          <a
            class="nav-link"
            style="color: #ffffff"
            routerLink="/genres/{{ genres.id }}/{{ genres.name }}"
            >{{ genres.name }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
