.tmdb-logo {
  width: 100px;
  @media screen and (max-width: 500px) {
    width: 80px;
  }
}

.nav-item a {
  color: #ffffff;
}

.nav-item a:hover {
  color: #653f92;
  cursor: pointer;
}

.navbar-nav > .active > a {
  color: #653f92;
}
