.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper h1 {
  counter-reset: #353535;
}

@media screen and (max-width: 768px) {
  .wrapper {
    font-size: 1.5rem;
  }
}

img {
  width: 100%;
  max-width: 720px;
  transition: all 0.3s;
  object-fit: cover;
  border-radius: 20px;
  animation: animateThumb 0.5s;
}

img:hover {
  opacity: 0.8;
}

.listing__explore {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #353535;
  letter-spacing: 0.4px;
}

@media (min-width: $breakpoint-large) {
  .listing__explore {
    font-size: 1.4rem;
  }
}

.listing__explore:hover,
:focus {
  opacity: 0.8;
}
