<section>
  <div class="content">
    <span> <a href="/home">HOME </a> </span>
    <span style="font-size: 30px; margin-left: 5px">|</span>
    <span style="margin-left: 8px"> {{ title }} MOVIES</span>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-3 listing__items" *ngFor="let movie of movies">
      <div routerLink="/movie/{{ movie.id }}">
        <div class="listing-item-style">
          <img
            src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{
              movie?.poster_path
            }}"
            [alt]="movie.title ? movie.title : movie.name"
          />
          <img
            *ngIf="!movie?.poster_path"
            src="../../../assets/no_image.jpg"
            [alt]="movie.title ? movie.title : movie.name"
          />
          <h6>{{ movie?.title }}</h6>
          <p class="rate">
            <i class="fa fa-star material-icons" aria-hidden="true"></i
            ><span>{{ movie?.vote_average }}</span> /10
          </p>
          <p class="year">
            <span>{{ movie?.release_date | date: "yyyy" }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
