<div>
  <div class="hero">
    <div class="backdrop">
      <div class="lazyloaded">
        <!-- <button class="play" type="button" (click)="openDialogMovie(this.video)">
                <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55">
                    <circle cx="27.5" cy="27.5" r="26.75" fill="none" stroke="#fff" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.5" />
                    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M20.97 40.81L40.64 27.5 20.97 14.19v26.62z" /></svg>
            </button> -->
        <img
          class="lazyload image"
          src="https://image.tmdb.org/t/p/original/egoyMDLqCxzjnSrWOz50uLlJWmD.jpg"
        />
      </div>
    </div>
    <div class="pane">
      <div>
        <div class="name" style="font-weight: bold">Sonic the Hedgehog 2</div>

        <div class="desc" style="line-height: 2rem">
          After settling in Green Hills, Sonic is eager to prove he has what it
          takes to be a true hero. His test comes when Dr. Robotnik returns,
          this time with a new partner, Knuckles, in search for an emerald that
          has the power to destroy civilizations. Sonic teams up with his own
          sidekick, Tails, and together they embark on a globe-trotting journey
          to find the emerald before it falls into the wrong hands.
        </div>
        <!-- <button
          type="button"
          class="button button--icon trailer"
          (click)="openDialogMovie(this.video)"
        >
          <span class="mr-2"><img src="assets/images/play.svg" /></span>
          <span class="txt">Watch Trailer</span>
        </button> -->
      </div>
    </div>
  </div>
</div>
