<section>
  <div class="content">
    <div class="tumb"></div>
    <div class="text">
      <h1>Spider-Man: No Way Home</h1>
      <h3>PLOT</h3>
      <p>
        Peter Parker is unmasked and no longer able to separate his normal life
        from the high-stakes of being a super-hero. When he asks for help from
        Doctor Strange the stakes become even more dangerous, forcing him to
        discover what it truly means to be Spider-Man.
      </p>
      <div className="rating-directors">
        <div>
          <h3>RATING</h3>
          <div className="score">8.2</div>
        </div>
        <div className="director">
          <h3>DIRECTOR</h3>
          <p>Jon Watts</p>
        </div>
      </div>
    </div>
  </div>
</section>
