<ngx-ui-loader fgsSize="120" overlayColor="#353535"></ngx-ui-loader>
<div>
  <section>
    <div class="content">
      <span> <a href="/home" class="home_link">HOME </a> </span>
      <span style="font-size: 30px; margin-left: 5px">|</span>
      <span style="margin-left: 8px"> {{ movie?.title }} </span>
    </div>
  </section>
  <div class="hero">
    <div class="backdrop">
      <div class="lazyloaded">
        <!-- <button class="play" type="button" (click)="openDialogMovie(this.video)">
                <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55">
                    <circle cx="27.5" cy="27.5" r="26.75" fill="none" stroke="#fff" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.5" />
                    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M20.97 40.81L40.64 27.5 20.97 14.19v26.62z" /></svg>
            </button> -->
        <img
          class="lazyload image"
          src="https://image.tmdb.org/t/p/original/{{ movie?.backdrop_path }}"
        />
        <img
          class="lazyload image"
          *ngIf="!movie?.backdrop_path"
          src="../../../assets/no_image.jpg"
        />
      </div>
    </div>
    <div class="pane">
      <div>
        <div class="name">{{ movie?.title }}</div>
        <div class="meta">
          <div class="info">
            <span class="rate" style="color: gold">
              <i
                class="fa fa-star"
                style="color: gold; font-size: 20px"
                aria-hidden="true"
              ></i
              >{{ movie?.vote_average }}<span></span>
            </span>
            <span> {{ movie?.vote_count | numberWithCommas }} Reviews</span> |

            <span>{{ movie?.runtime | time }}</span>
          </div>
        </div>
        <div class="desc" style="line-height: 2rem; text-align: center">
          {{ movie?.overview }}
        </div>
        <!-- <button
          type="button"
          class="button button--icon trailer"
          (click)="openDialogMovie(this.video)"
        >
          <span class="mr-2"><img src="assets/images/play.svg" /></span>
          <span class="txt">Watch Trailer</span>
        </button> -->
      </div>
    </div>
  </div>

  <h1 class="text-center">Overview</h1>
  <div class="container">
    <div>
      <div>
        <div class="listing-space info__movies row">
          <div class="col-lg-6 left">
            <div class="poster">
              <img
                src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{
                  movie?.poster_path
                }}"
              />
              <img
                class="lazyload image"
                style="width: 400px"
                *ngIf="!movie?.poster_path"
                src="../../../assets/no_image.jpg"
              />
            </div>
          </div>
          <div class="col-lg-6 overview_info">
            <div class="stats">
              <ul class="nolist" style="line-height: 2rem">
                <li>
                  <strong class="label">Released</strong>
                  <div class="value" style="font-style: italic">
                    {{ movie?.release_date | fullDate }}
                  </div>
                </li>
                <li>
                  <strong class="label">Runtime</strong>
                  <div class="value" style="font-style: italic">
                    {{ movie?.runtime | time }}
                  </div>
                </li>
                <li *ngIf="movie?.budget">
                  <strong class="label">Budget</strong>
                  <div class="value" style="font-style: italic">
                    ${{ movie?.budget | numberWithCommas }}
                  </div>
                </li>
                <li *ngIf="movie?.revenue">
                  <strong class="label">Revenue</strong>
                  <div class="value" style="font-style: italic">
                    ${{ movie?.revenue | numberWithCommas }}
                  </div>
                </li>

                <li *ngIf="movie?.status">
                  <strong class="label">Status</strong>
                  <div class="value" style="font-style: italic">
                    {{ movie?.status }}
                  </div>
                </li>
                <li *ngIf="movie?.spoken_languages?.length">
                  <strong class="label">Language</strong>
                  <div
                    class="comma_"
                    *ngFor="let language of movie?.spoken_languages"
                  >
                    <a style="font-style: italic; color: #353535">{{
                      language?.name
                    }}</a>
                  </div>
                </li>
                <li *ngIf="movie?.genres.length">
                  <strong class="label">Genre</strong>
                  <div class="comma_" *ngFor="let genres of movie?.genres">
                    <a
                      routerLink="/genres/{{ genres.id }}/{{ genres.name }} "
                      style="font-style: italic"
                      >{{ genres?.name }}</a
                    >
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div *ngIf="casts">
            <h1 class="text-center">Cast</h1>
            <carousel
              [arrowsOutside]="true"
              arrowsTheme="dark"
              [transitionDuration]="1000"
            >
              <div *ngFor="let cast of casts" class="carousel-cell thumb">
                <img
                  class="img"
                  style="object-fit: fill; border-radius: 20px"
                  routerLink="/cast/{{ cast.id }}"
                  *ngIf="cast.profile_path"
                  src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{
                    cast?.profile_path
                  }}"
                />
                <img
                  style="object-fit: fill; border-radius: 20px"
                  *ngIf="!cast.profile_path"
                  src="../../../assets/no_image.jpg"
                />
              </div>
            </carousel>
          </div>

          <div *ngIf="casts.length === 0">
            <h1 style="font-weight: 100">Casts not available</h1>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="movies">
      <h1 class="text-center">Recommended Movies</h1>
      <carousel
        [arrowsOutside]="true"
        arrowsTheme="dark"
        [transitionDuration]="1000"
      >
        <div *ngFor="let movie of movies" class="carousel-cell thumb">
          <img
            class="img"
            style="object-fit: fill; border-radius: 20px"
            routerLink="/movie/{{ movie.id }}"
            *ngIf="movie?.poster_path"
            src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{
              movie?.poster_path
            }}"
          />
          <img
            *ngIf="!movie?.poster_path"
            style="object-fit: fill; border-radius: 20px"
            src="../../../assets/no_image.jpg"
          />
        </div>
      </carousel>
    </div>
    <div *ngIf="movies.length === 0">
      <h1 style="font-weight: 100">No Recommended Movie</h1>
    </div>

    <h1 class="text-center">Reviews</h1>
    <div *ngIf="reviews">
      <div *ngFor="let review of reviews">
        <!-- <div>
          <img
            *ngIf="review?.avatar_path"
            src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{
              review?.avatar_path
            }}"
          />
          <img
            sty
            *ngIf="!review?.avatar_path"
            style="border-radius: 20px; width: 5%; height: 5%"
            src="../../../assets/no_image.jpg"
          />
        </div> -->
        <div
          style="
            margin-bottom: 50px;
            background-color: #1c1c1c;
            padding: 50px;
            color: #ffffff;
            border-radius: 20px;
          "
        >
          <p>
            A review by
            <span style="color: gold; font-weight: bold; font-size: 18px">{{
              review.author
            }}</span>

            <span
              *ngIf="review.author_details.rating"
              style="
                font-size: 20px;
                margin-left: 20px;

                color: gold;
                padding: 10px;
              "
              ><i class="fa fa-star" aria-hidden="true"></i
              >{{ review.author_details.rating }}</span
            >
          </p>

          <p>{{ review.content }}</p>
          <p>
            Written on
            <span style="font-style: italic">{{
              review.created_at | date
            }}</span>
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="reviews.length === 0">
      <h1 style="font-weight: 100">No Reviews for this movie</h1>
    </div>
  </div>
</div>
