<Section>
  <img
    class="image"
    src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg"
    alt=""
  />
  <div class="content">
    <div class="text">
      <h1>Spider-Man: No Way Home</h1>
      <p>
        Peter Parker is unmasked and no longer able to separate his normal life
        from the high-stakes of being a super-hero. When he asks for help from
        Doctor Strange the stakes become even more dangerous, forcing him to
        discover what it truly means to be Spider-Man.
      </p>
    </div>
  </div>
</Section>
